.descr
  min-height: 957px
  @include bg
  background-image: url("../img/bgs/descr-bg.jpg")
  padding: 12px 0px 53px 0px
  &__header
    margin-top: 12px
    display: flex
    justify-content: space-between
    align-items: center
  &__phone-img
    margin-right: 9px
    top: -2px
    position: relative
  &__phone
    font-size: 24px
    font-weight: 500
    letter-spacing: 0.6px
    text-align: right
    color: white
    &:hover
      color: white
      text-decoration: none
  &__phone-text
    font-size: 18px
    text-align: right
    color: white
    margin: 9px 0 0 0
  &__title
    margin-top: 47px
    font-family: Merriweather
    font-size: 44px
    font-weight: bold
    line-height: 1.23
    text-align: left
    width: 650px
    color: white
    span
      color: #f13533
  &__subtitle
    margin-top: 23px
    font-size: 28px
    line-height: 1.29
    text-align: left
    color: white
    width: 460px
  &__pluses
    margin-top: 23px
    position: relative
  &__plus
    display: flex
    align-items: center
    margin-bottom: 22px
    &:last-child
      margin-bottom: 0
  &__wheel
    margin-right: 33px
  &__plus-text
    color: white
    font-size: 18px
    font-weight: 500
    line-height: 1.33
    text-align: left
  &__owner-name
    position: absolute
    right: 80px
    bottom: 0
    font-size: 16px
    font-weight: 500
    font-stretch: normal
    font-style: normal
    line-height: 1.5
    letter-spacing: normal
    text-align: left
    color: white
  
