@import './lib/reboot'
@import './base/mixins'
@import './base/variables'
@import './lib/fonts'

@import './components/descr'
@import './components/form'
@import './components/directions'
@import './components/market'
@import './components/choose'
@import './components/income'
@import './components/steps'
@import './components/plan'

body
  font-family: HelveticaNeueCyr

.container
  max-width: 1144px
  margin: 0 auto

@import './base/media'